body{
  background-color: #303030;
}

.title{
  position: absolute;
  color: white;
  font-size: 60px;
  top: 20px;
  left: 50%;
  transform: translatex(-50%);
  width: 250px;
}

#room>canvas{
  width: 100% !important;
  height: 100% !important;
}

#room{
 width: 50% !important;
 height: 50% !importnat;
 position: absolute;
 top: 50%;
 transform: translatey(-50%);
 left: 50%;
 transition: all 0.3s;
}

.text{
  color: white;
  font-size: 28px;
  position: absolute;
  width: max-content;
  top: 50%;
  transform: translatey(-50%);
  transition: all 0.3s;
}

.go-up{
  display: none;
}

@media only screen and (max-width: 600px) {
  
  .title{
    font-size: 40px;
  }
  
  .text{
    transform: translatey(0);
    top: 100px;
    left: 50%;
    transform: translatex(-50%);
    font-size: 20px;
  }
  
  #room{
    transform: translatey(0);
    top: 300px;
    transform: translatex(-50%);
    width: 100% !important;
  }
  
  .go-up{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height 50px;
    font-size: 28px;
    background-color: #303030;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
}
